<h1>VoteIT</h1>

<% if is_loggedin? %>
<p>
  <strong>Current user:</strong> <%= current_user.nick%> |
  <%= link_to 'Log out', logout_path%><br />
  <strong>Is admin:</strong> <%= is_admin?%>
</p>
<% else %>

<%= render :template => "sessions/new" %>

<% end %>


<% unless @meetings.blank? %>
<table>
  <tr>
    <th>Period</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.period %></td>
    <td><%= link_to 'Show', meeting %></td>
    <td class="admin"><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
    <td class="admin"><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<% else %>

<p>No meetings</p>

<% end %>

<div class="admin">
  <p>
    <%= link_to 'New Meeting', new_meeting_path %> |
    <%= link_to 'New user', new_user_path %>
  </p>
</div>