<p id="notice"><%= notice %></p>

<h2>Votings for <%= @meeting.period%> meeting</h2>

<%= render :template => "votings/index" %>

<h3>New voting</h3>

<p><%= link_to 'New Voting', new_meeting_voting_path(@meeting) %></p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
