<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @voting.title %>
</p>

<p>
  <b>Description:</b>
  <%= @voting.description %>
</p>

<% unless @voting.open %>

<p>Voting is closed</p>

<% end%>

<% unless @alternatives.blank?%>
<p>
	<strong>Alternatives</strong>
</p>

<ul>
	<% @alternatives.each do |alt| %>
	<li>
		<h3><%= alt.title%> (<span id="alt-<%= alt.id %>"><%= alt.votes%></span> votes)</h3>

		<p>
		<% if @voting.open %>
		<%= link_to 'Vote', voting_vote_path(alt.voting, :alt => alt.id), :remote => true %> |
		<% end %>
		<%= link_to 'Remove alternative', [@voting, alt], :method => :delete, :class => "admin", :data => {:confirm => "Sure?"} %>
		</p>
	</li>
	<% end %>
</ul>

<% else %>

<p>No alternatives or voting is closed</p>

<% end %>

<div class="admin">
	<p>
		<%= link_to 'Add Vote alternative', new_voting_vote_alternative_path(@voting) %> | 

		<%= link_to 'Edit', edit_voting_path(@voting) %> | 

		<% if @voting.open %>
			<%= link_to 'Close voting', voting_close_path(@voting) %>
		<% else %>
			<%= link_to 'Open voting', voting_open_path(@voting) %>
		<%end%>
	</p>

</div>

<%= link_to "â† #{@voting.meeting.period} meeting", meeting_path(@voting.meeting) %>
