<%= form_for([@vote_alternative.voting.meeting, @vote_alternative.voting, @vote_alternative]) do |f| %>
  <% if @vote_alternative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote_alternative.errors.count, "error") %> prohibited this vote_alternative from being saved:</h2>

      <ul>
      <% @vote_alternative.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
